.project-box {
    display: flex;
    border: 1px solid;
    border-radius: 5px;
    padding: 1em;
    margin: 1em;
}

.thumbnail {
    padding: 1em;
    float: left;
    max-width: 14em;
    max-height: 14em;
    height: auto;
    width: auto;
}

.github-link {
    float: right;
    padding-right: 2em;
    width: 5em;
    height: 5em;
}
