.project-box {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 5px;
    padding: 1em;
    margin: 1em;
}

/* On wider screens, display content side-by-side */
@media (min-width: 600px) {
    .project-box {
        flex-direction: row;
    }
}

.project-box-text {
    flex: 1; /* takes remaining space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

.thumbnail {
    padding: 1em;
    max-width: 14em;
    max-height: 14em;
    height: auto;
    width: auto;
    margin: auto;
}

.github-link {
    align-self: flex-end;
    padding-right: 2em;
    width: 5em;
    height: 5em;
}
